body{
  font-family: 'Arial',serif;
  background-color: #FFE5CC;
}

.nav{
  background-color: #880000;
  color: #FFFFFF;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 30px;
}

.nav > li{
  display: inline-block;
  padding-right: 50px;
}

.nav > li > a{
  text-decoration: none;
  color: #FFFFFF;
}

.nav > li > a:hover{
  color:#C1C1C1;
}

.footer{
  background-color: #880000;
  color: #FFFFFF;
}
.menupics{
  align-items: center;
}

.indexpic{
  text-align: center;
}

.copy{
  font-size: 14px;
  background-color: #880000;
  color: white;
  padding-top: 5px;
}

.logo{
  text-align: center;
}
